# proj.android
proj.android/assets
proj.android/bin
proj.android/gen
proj.android/obj

# proj.ios_mac
proj.ios_mac/TsukubonQuest.xcodeproj/project.xcworkspace
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata
proj.ios_mac/TsukubonQuest.xcodeproj/project.xcworkspace
proj.ios_mac/TsukubonQuest.xcodeproj/xcuserdata

# common files
Classes/Definitions/NetworkDefine.h
